{% extends "arbitrage/header.html" %}

{% block content %}
    <div class="container">
        <h3>Arbitrage Between Exchanges</h3>
        {% for exchange in exchanges %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>exchange = {{exchange.name}}</p>
                    <p>price = ${{exchange.price}}</p>
                    <p>date = {{exchange.date}}</p>
                </div>
            </div>   
        {% endfor %}


        <p>Absolute Difference = $<span id="absolute" value={{difference.absolute}}>{{difference.absolute}}</span></p>
        <p >Percentage Difference = <span id="percentage">{{difference.percentage}}</span>%</p>
    </div>
</body>

<script>
    document.addEventListener("DOMContentLoaded", function() {
         updateColourBasedOnValue("absolute");
         updateColourBasedOnValue("percentage");
    });

    function updateColourBasedOnValue(elementId) {
        if (parseFloat(document.getElementById(elementId).innerHTML) >= 0) {
            document.getElementById(elementId).style.color = "green";
        } else {
            document.getElementById(elementId).style.color = "red";
        } 
    }
</script>
{% endblock  %}

